# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Database
db.sqlite3
*.sql

# Other
.idea/
*.log
debug.log
errors.log
